{
    "parser": "babel-eslint",
    "rules": {
        "camelcase": 1,
        "space-before-function-paren": ["error", "never" ]
    },
    "globals": {
        "describe": true,
        "context": true,
        "before": true,
        "beforeEach": true,
        "after": true,
        "afterEach": true,
        "test": true,
        "expect": true
    }
  }